logging.level.com.dak.cursejarbot=DEBUG
logging.level.de.btobastian.javacord=DEBUG

spring.datasource.url=jdbc:h2:./data/cursejarbotv2.db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.jpa.hibernate.ddl-auto=update

#NOTE: You must supply a token below!
discord.api.token=

bot.autostart=true
bot.donate.url=http://
bot.maintenance.role=curse-jar-role